.add-goods__wrapper {
  width: 280px;
  margin: 0 auto;
}

.add-goods__item {
  padding-bottom: 17px;

  border-bottom: @border-grey;
}

.add-goods__section-title {
  padding-top: 30px;
  padding-bottom: 35px;
  padding-left: 20px;

  .fancy-subtitle();

  border-bottom: @border-grey;

  overflow: hidden;

  &::after {
    content: "";

    position: relative;
    right: -14px;

    display: inline-block;
    vertical-align: middle;

    width: 100%;
    height: 3px;
    margin-right: -100%;

    background: @bg-green;
    border: solid @bg-green;
    border-width: 0 10px;
  }
}

.add-goods__title {
  padding-top: 13px;
  padding-bottom: 12px;

  .oswald();
  .text-size(16px; 1);
  text-align: left;
  color: @black-three;
  text-transform: uppercase;
}

.add-goods__desc {
  width: 100%;
  margin-bottom: 14px;

  line-height: 1;

  border-collapse: collapse;
}

.add-goods__field,
.add-goods__value {
  padding-left: 0;
  padding-right: 0;
}

.add-goods__value {
  text-align: right;
}

.add-goods__list {
  .list-reset();

  list-style: none;
}

.add-goods__gift {
  min-height: 200px;

  background-color: @bg-green;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.add-goods__gift-desc {
  .text-size(16px; 1.25);
  text-align: center;
  color: @white;
}

@media (min-width: @tablet-width) {
  .add-goods__wrapper {
    width: 708px;
  }

  .add-goods__section-title {
    padding-bottom: 80px;

    font-size: 36px;

    border: none;

    &::before,
    &::after {
      content: "";

      position: relative;

      display: inline-block;
      vertical-align: middle;

      width: 100%;
      height: 3px;

      background: @bg-green;
      border: solid @bg-green;
      border-width: 0 10px;
    }

    &::before {
      left: -14px;

      margin-left: -100%;
    }

    &::after {
      right: -14px;

      margin-right: -100%;
    }
  }

  .add-goods__item {
    padding-left: 37px;
    padding-right: 37px;
    padding-bottom: 27px;

    border: @border-grey;
    border-bottom: none;

    &:last-child {
      border-bottom: @border-grey;
    }
  }

  .add-goods__title {
    font-size: 20px;
  }

  .add-goods__field {
    width: 150px;
    padding: 0;

    text-align: right;
  }

  .add-goods__value {
    width: 94px;
  }

  .add-goods__desc td {
    .text-size(16px; 1.25);
  }

  .add-goods__desc tbody {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: @desktop-width) {
  .add-goods__wrapper {
    width: 1220px;
    display: flex;
    justify-content: space-between;
  }

  .add-goods__item {
    width: 895px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
    padding-right: 0;

    border-left: none;
    border-right: none;
  }

  .add-goods__desc {
    margin-right: 39px;
  }

  .add-goods__gift {
    width: 245px;
    height: 289px;
  }
}
