.advantages {
  width: auto;
  margin-bottom: 45px;
  padding: 0 6.1%;
}

.advantages__title {
  margin: 0;
  margin-bottom: 30px;

  .big-title();
}

.advantages__list {
  .list-reset();

  list-style: none;
}

.advantages__item {
  position: relative;

  margin: 0 0 9.3%;
  padding-left: 80px;

  &::before {
    content: "";

    position: absolute;
    top: -2px;
    left: 0;

    width: 60px;
    height: 60px;

    background: @bg-green;
  }

  &::after {
    content: "";

    position: absolute;
    top: 3px;
    left: 5px;

    width: 50px;
    height: 50px;
  }

  &--healthy {
    &::after {
      background-image: url("../img/advantage-leaf@1x.png");
      background-repeat: no-repeat;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/advantage-leaf@2x.png");
        background-size: 100% auto;
      }
    }
  }

  &--easy {
    &::after {
      background-image: url("../img/advantage-powder@1x.png");
      background-repeat: no-repeat;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/advantage-powder@2x.png");
        background-size: 100% auto;
      }
    }
  }

  &--unstressful {
    &::after {
      background-image: url("../img/advantage-dining@1x.png");
      background-repeat: no-repeat;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/advantage-dining@2x.png");
        background-size: 100% auto;
      }
    }
  }

  &--effective {
    &::after {
      background-image: url("../img/advantage-clock@1x.png");
      background-repeat: no-repeat;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/advantage-clock@2x.png");
        background-size: 100% auto;
      }
    }
  }

  .advantages__desc {
    margin: 0;
  }
}

@media (min-width: @tablet-width) {
  .advantages {
    width: auto;
    margin-bottom: 0;
    padding: 0 3.9%;
  }

  .advantages__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    counter-reset: number;
  }

  .advantages__item {
    width: 45.9%;
    padding: 120px 60px 40px 0;
    margin: 0;
    margin-bottom: 85px;

    &:nth-child(n+2) {
      margin-bottom: 63px;
    }

    &::before {
      width: 80px;
      height: 80px;

      top: 9px;
      left: 0;
    }

    &::after {
      top: 22px;
      left: 15px;

      width: 50px;
      height: 50px;
    }
  }

  .advantages__item .advantages__desc {
    &::after {
      counter-increment: number;
      content: counter(number) "";

      position: absolute;
      z-index: -1;

      top: -30px;
      left: 35%;

      .oswald();
      .text-size(281px; 1);
      color: @bg-grey;
    }
  }

  .advantages__title {
    margin-bottom: 65px;

    .text-size(60px; 1);
  }

  .advantages__desc {
    .text-size(16px; 1.5);
  }
}

@media (min-width: @desktop-width) {
  .advantages {
    width: 1220px;
    margin: 0 auto;
    padding: 0;
  }

  .advantages__item {
    width: 245px;
    padding-right: 0;
  }

  .advantages__item .advantages__desc {
    &::after {
      left: 47%;
    }
  }
}
