.button {
  display: block;
  width: 280px;
  margin: 0 auto;
  padding: 10px;

  .oswald();
  .text-size(16px; 1.25);
  text-align: center;
  color: @white;
  text-transform: uppercase;

  background-color: @bg-green;
  border: none;

  &--pickup-program {
    width: calc(100% - 12%);

    .text-size(14px; 1.29);
  }

  &--order {
    width: auto;
  }

  &--show-all {
    width: auto;
    padding: 12px;

    .text-size(16px; 1);
    color: @greyish-brown;

    background-color: @bg-grey;
  }

  &--extra-order {
    width: auto;
  }
}

@media (min-width: @tablet-width) {
  .button {
    &--pickup-program {
      width: 245px;
      padding: 15px;

      .text-size(20px; 1);
    }

    &--order {
      width: auto;
    }

    &--show-all {
      width: auto;
    }

    &--add-order {
      width: auto;
    }

    &--submit {
      width: 283px;
      padding: 15px;

      .text-size(20px; 1);
    }
  }
}

@media (min-width: @desktop-width) {
  .button {
    &--order {
      width: 169px;
    }

    &--show-all {
      width: 169px;
    }

    &--add-order {
      width: 245px;
    }

    &--submit {
      width: 568px;
    }

    &--extra-order {
      width: 245px;
    }
  }
}
