.catalog__list {
  .list-reset();
  margin-bottom: 26px;

  list-style: none;
}

.catalog__item-wrapper {
  border: @border-light-grey;
  border-bottom: none;

  &:last-child {
    border-bottom: @border-light-grey;
  }
}

.catalog__item {
  width: auto;
  padding-bottom: 24px;
  padding-left: 6%;
  padding-right: 6%;

  &--show-more {
    padding-top: 80px;
  }
}

.catalog__desc-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.catalog__desc {
  width: 50%;

  .text-size(12px; 1.33);

  border-collapse: collapse;

  &--show-more {
    width: 100%;
    margin: 0;
    margin-bottom: 23px;

    .text-size(12px; 1.33);
    text-align: center;
  }
}

.catalog__image {
  display: block;
}

.catalog__title {
  width: 60%;
  margin-bottom: 15px;

  text-align: left;
  .subtitle-uppercase();

  &--show-more {
    width: 100%;
    position: relative;

    margin: 0;
    margin-bottom: 8px;

    text-align: center;

    &::before,
    &::after {
      content: "";

      position: absolute;
      top: -40px;
      left: 50%;

      width: 30px;
      height: 2px;

      background-color: #cfcfcf;
    }

    &::before {
      transform: translateX(-50%);
    }

    &::after {
      transform: translateX(-50%) rotate(90deg);
    }
  }
}

.catalog__link {
  color: @black-two;
}

.catalog__field,
.catalog__value {
  padding: 0;

  vertical-align: top;
}

.catalog__value {
  text-align: right;
}

@media (min-width: @tablet-width) {
  .catalog__list {
    width: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 3.9%;
    padding-right: 3.9%;
  }

  .catalog__item-wrapper {
    width: 45.75%;
    margin: 0;
    margin-bottom: 139px;

    border: none;

    &:last-child {
      border: none;
    }
  }

  .catalog__item {
    position: relative;

    padding-left: 11.7%;
    padding-right: 11.5%;
    padding-bottom: 40px;
    padding-top: 163px;

    background-color: @bg-grey;

    &--show-more {
      border: 1px solid #ededed;
      background: @bg-white;
    }
  }

  .catalog__desc-wrapper {
    flex-direction: column;
    justify-content: space-between;
  }

  .catalog__image {
    position: absolute;

    margin-bottom: 33px;

    &--small {
      top: -46px;
      left: 50%;
      transform: translateX(-50%);
      width: auto;
      height: 172px;
    }

    &--big {
      top: -80px;
      left: 50%;
      transform: translateX(-50%);
      width: auto;
      height: 208px;
    }
  }

  .catalog__desc {
    width: 100%;
    margin-bottom: 33px;

    .text-size(16px; 1);

    &--show-more {
      width: 170px;
      margin: 0 auto;
      margin-bottom: 83px;

      .text-size(16px; 1.25);
    }
  }

  .catalog__desc tr {
    border-bottom: @border-grey;
  }

  .catalog__title {
    width: 135px;
    margin: 0 auto;
    margin-bottom: 20px;

    .text-size(20px; 1);
    text-align: center;

    &--show-more {
      margin-bottom: 25px;
      padding: 0;

      .text-size (20px; 1);

      &::before,
      &::after {
        top: -80px;

        width: 61px;
        height: 1px;
      }
    }
  }

  .catalog__field,
  .catalog__value {
    padding-top: 8px;
    padding-bottom: 7px;
  }
}

@media (min-width: @desktop-width) {
  .catalog__list {
    width: 1220px;
    margin: 0 auto;
    padding: 0;
    justify-content: flex-start;
  }

  .catalog__item-wrapper {
    width: 245px;
    margin-right: 80px;
    margin-bottom: 141px;

    &:nth-child(4n) {
      margin-right: 0;
    }
  }

  .catalog__item {
    padding-left: 39px;
    padding-right: 39px;

    &--show-more {
      padding-left: 37px;
    }
  }
}
