.contacts {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 27px 7.2% 25px 6%;

  background-color: @bg-white;

  &--bg {
    background-color: @bg-grey;
  }
}

.contacts__title {
  width: 123px;
  margin: 0;
  padding: 0;

  .subtitle-uppercase();
}

.contacts__text {
  width: 136px;
  margin: 0;

  line-height: 1.43;
}

.contacts__text span {
  display: block;
}

@media (min-width: @tablet-width) {
  .contacts {
    padding: 65px 9.3% 57px;
  }

  .contacts__title {
    width: 154px;

    font-size: 20px;
  }

  .contacts__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 155px;

    .text-size(16px; 1.25);
    text-align: right;
  }

  .contacts__text span {
    &:first-child {
      margin-bottom: 20px;
    }
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    width: 570px;
    min-height: 201px;
    padding: 63px 90px 59px 76px;

    background-color: @bg-white;
    justify-content: flex-start;
  }

  .contacts__title {
    margin-right: 95px;
  }

  .contacts__text {
    text-align: left;
  }
}
