.copyright {
  padding-top: 15px;
  padding-bottom: 22px;
}

.copyright__icon {
  fill: @brownish-grey;
}

.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .text-size(16px; 1);
  color: @greyish-brown;

  &:hover .copyright__icon {
    fill: @bg-green;
  }

  &:active {
    opacity: 0.3;
  }
}
