.hero-header {
  .fancy-font();
  color: @white;
  text-align: center;
}

.hero-header__wrapper {
  background-color: @bg-green;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.hero-header__title {
  .text-size(36px; 36px);
}

.hero-header__slogan {
  line-height: 18px;
  text-transform: uppercase;
}
