.hero-header {
  margin-bottom: 22px;

  .oswald();
  text-align: center;
  color: @white;
}

.hero-header__wrapper {
  height: 305px;
  margin: -15px 0 135px;
  padding: 27px 20px 0;

  background-color: #65a93c;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-position: top;
  background-repeat: no-repeat;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
    background-size: auto 305px;
  }
}

.hero-header__text {
  width: 250px;
  margin: 0 auto;
}

.hero-header__title {
  margin: 0 auto;
  margin-bottom: 25px;
  padding: 0;

  .text-size(36px; 1);
  font-weight: 400;
}

.hero-header__slogan {
  margin: 0;
  margin-bottom: 27px;

  line-height: 1;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .hero-header {
    position: relative;

    width: 708px;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .hero-header__wrapper {
    height: auto;
    margin: 0;
    padding: 0;

    text-align: left;
    color: @black-two;

    background-color: @bg-white;
    background-image: none;
  }

  .hero-header__text {
    width: 650px;
    margin: 0;
    padding-left: 88px;
  }

  .hero-header__title {
    margin: 0;
    margin-bottom: 41px;
    padding-top: 20px;

    font-size: 60px;
  }

  .hero-header__slogan {
    margin-bottom: 20px;

    font-size: 20px;
  }

  .hero-header__image-wrapper {
    width: 709px;
    height: auto;
  }

  .hero-header__pickup-program {
    position: absolute;

    top: 29.75%;
    left: 90px;
  }
}

@media (min-width: @desktop-width) {
  .hero-header {
    width: 1220px;
    margin-bottom: 12px;
  }

  .hero-header__wrapper {
    display: flex;
    min-height: 555px;
    margin-bottom: 0;

    background-color: transparent;
  }

  .hero-header__title {
    padding-top: 11px;
  }

  .hero-header__text {
    width: 45%;
    padding-left: 80px;
  }

  .hero-header__pickup-program {
    top: 44.4%;
    left: 80px;
  }

  .hero-header__image-wrapper {
    margin-top: -70px;
    margin-left: -100px;
  }

  .hero-header__image {
    width: 552px;
    height: auto;
  }
}
