.programs {
  width: auto;
  padding: 0 6.1%;
}

.programs__list {
  .list-reset();

  list-style: none;
}

.programs__item {
  margin-bottom: 20px;
  padding: 30px 7% 22px;

  background-color: @bg-grey;

  &:last-child {
    margin-bottom: 17px;
  }
}

.programs__title {
  position: relative;

  margin: 0 0 30px 71px;

  .oswald();
  .text-size(24px; 1.54);
  text-transform: uppercase;

  &::before {
    content: "";

    position: absolute;
    top: -6px;
    left: -68px;

    width: 50px;
    height: 51px;

    background: @bg-green;
    border-radius: 50%;
  }

  &--slim {
    position: relative;

    &::after {
      position: absolute;

      content: "";

      top: -8px;
      left: -60px;

      width: 35px;
      height: 49px;

      background-image: url("../img/cat-slim.svg");
      background-repeat: no-repeat;
    }
  }

  &--pro {
    position: relative;

    &::after {
      content: "";

      position: absolute;
      top: 5px;
      left: -76px;

      width: 67px;
      height: 28px;

      background-image: url("../img/cat-pro.svg");
      background-repeat: no-repeat;
    }
  }
}

.programs__desc {
  margin: 0;
  padding-bottom: 21px;

  border-bottom: 1px solid rgba(17, 17, 17, 0.1);
}

.programs__to-catalog {
  display: flex;
  align-items: center;
  padding-top: 20px;

  .oswald();
  .text-size(16px; 1);
  text-transform: uppercase;

  &:active {
    color: rgba(17, 17, 17, 0.3);
  }
}

.programs__right-arrow {
  position: relative;

  display: block;
  width: 23px;
  height: 2px;
  margin-left: 13px;

  background: @black-two;

  &::after {
    content: "";

    position: absolute;
    top: -5px;
    right: 0;

    border: 6px solid @bg-white;
    border-right-width: 0;
    border-left-color: @black-two;
    border-top-color: transparent;
    border-bottom-color: transparent;
  }

  &:hover {
    width: 34px;
  }

  &:active {
    width: 34px;
    opacity: 30%;
  }
}

@media (min-width: @tablet-width) {
  .programs {
    width: auto;
    margin-top: -12px;
    margin-bottom: 45px;
    padding: 0 3.9%;
  }

  .programs__item {
    margin-bottom: 32px;
    padding: 76px 7.3% 60px;

    &:nth-child(2) .programs__desc {
      width: 56.5%;
    }

    &:last-child {
      margin-bottom: 32px;
    }
  }

  .programs__title {
    margin-left: 0;
    margin-bottom: 25px;

    .text-size(36px; 1.03);

    &::before {
      top: 16px;
      right: 10px;
      left: auto;

      width: 200px;
      height: 200px;
    }

    &--slim::after {
      top: 6px;
      right: 40px;
      left: auto;

      width: 141px;
      height: 194px;
    }

    &--pro::after {
      top: 60px;
      right: -24px;
      left: auto;

      width: 268px;
      height: 113px;
    }
  }

  .programs__desc {
    width: 62%;
    padding: 0;
    margin-bottom: 36px;

    .text-size(16px; 1.5);

    border-bottom: none;
  }

  .programs__to-catalog {
    width: 50%;

    font-size: 20px;

    &::before {
      left: 130px;
    }

    &::after {
      left: 150px;
    }
  }

  .programs__right-arrow {
    margin-left: 24px;
  }
}

@media (min-width: @desktop-width) {
  .programs {
    width: 1220px;
    margin: 0 auto;
    margin-bottom: 40px;
    padding: 0;
  }

  .programs__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .programs__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 570px;
    padding-left: 52px;
    padding-right: 52px;
    padding-bottom: 62px;

    &:nth-child(2) .programs__desc {
      width: auto;
    }
  }

  .programs__title {
    padding-left: 163px;
    margin-bottom: 74px;

    &::before {
      top: -28px;
      left: 0;

      width: 100px;
      height: 100px;
    }

    &--slim::after {
      top: -35px;
      left: 15px;

      width: 71px;
      height: 97px;
    }

    &--pro::after {
      top: -7px;
      left: -17px;

      width: 134px;
      height: 57px;
    }
  }

  .programs__desc {
    width: auto;
    margin-bottom: 30px;
    padding: 0;
  }

  .programs__to-catalog {
    padding: 0;

    &::before {
      top: 10px;
    }

    &::after {
      top: 5px;
    }
  }
}
