.request-form {
  width: 320px;
  margin: 0 auto;
}

.request-form__desc {
  .fancy-font();
  text-transform: uppercase;
}

.request-form__content,
.request-form__list {
  font-family: @fancy-font;
  font-size: 16px;
  text-transform: uppercase;
}

.request-form__list {
  .list-reset();
}

.request-form__title {
  margin-bottom: 20px;

  .fancy-subtitle();
  text-transform: none;
}

.request-form__label {
  color: @black-three;
}

.request-form__input,
.request-form__textarea {
  font-family: inherit;
  font-size: inherit;
  text-transform: inherit;
}

.request-form__submit-button {
  border: none;
}

.request-form__footnote {
  text-align: center;

  .request-form__footnote-text {
    .text-size(14px; 1.14);
  }
}

.request-form__item {
  list-style: none;
}

.request-form__fieldset {
  margin-bottom: 20px;

  border: none;
}

.request-form__content--comment {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.request-form__fieldset--options {
  border: 1px solid #cdcdcd;
}

@media (min-width: @tablet-width) {
  .request-form {
    width: 708px;
  }

  .request-form__list--extra {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .request-form__item {
    width: 300px;
  }

  .request-form__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .request-form__footnote {
    text-align: left;
  }
}

@media (min-width: @desktop-width) {
  .request-form {
    width: 1220px;
  }

  .request-form__cat-info {
    display: flex;
    justify-content: space-between;
  }

  .request-form__owner-info {
    display: flex;
    justify-content: space-between;
  }

  .request-form__item {
    width: 190px;
  }
}
