.request-form__desc {
  .fancy-font();
  text-transform: uppercase;
}

.request-form__content,
.request-form__list {
  font-family: @fancy-font;
  font-size: 16px;
  text-transform: uppercase;
}

.request-form__title {
  .fancy-subtitle();
}

.request-form__label {
  color: @black-three;
}

.request-form__input,
.request-form__textarea {
  font-family: inherit;
  text-transform: inherit;
}

.request-form__submit-button {
  border: none;
}

.request-form__footnote {
  line-height: 16px;
  text-align: center;
}

.request-form__item {
  list-style: none;
}
