.slider {
  background-color: @bg-grey;
}

.slider__title {
  .big-title();
}

.slider__stats-value {
  .fancy-subtitle();
  text-align: center;
  text-transform: uppercase;
}

.slider__stats-field {
  .text-size(12px; 1);
  text-align: center;
}

.slider__stats-total {
  .fancy-font();
  line-height: 1.43;
  text-transform: uppercase;
}

.slider__range-value {
  .subtitle-uppercase();

  border: none;

  &--after {
    text-align: right;
  }
}
