.slider {
  background: @bg-grey;
}

.slider__wrapper {
  width: auto;
  padding: 17px 0 36px;
}

.slider__living-example {
  padding: 0 6.1%;
}

.slider__title {
  margin: 0;
  margin-bottom: 5px;
  padding: 19px 6.1% 0;

  .big-title();
}

.slider__text {
  margin: 0;
  margin-bottom: 25px;
}

.slider__table {
  display: flex;
  justify-content: space-between;
  margin-bottom: 19px;
}

.slider__list {
  .list-reset();

  list-style: none;
}

.slider__value {
  width: 124px;
  padding-bottom: 16px;
  padding-top: 13px;

  .fancy-subtitle();
  text-align: center;
  text-transform: uppercase;

  border: @border-grey;
  border-radius: 3px;
}

.slider__field {
  width: 87px;
  margin: 0 auto;
  margin-top: -8px;
  padding-left: 15px;
  padding-right: 16px;

  .text-size(12px; 1);
  text-align: center;

  background-color: @bg-grey;
}

.slider__expenses {
  margin: 0;
  margin-bottom: 35px;

  .oswald();
  line-height: 1.43;
  text-align: center;
  text-transform: uppercase;
}

.slider__before-after-images {
  position: relative;

  .list-reset();
  margin-bottom: 32px;

  list-style: none;
}

.slider__after-image {
  position: absolute;

  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.slider__before-image {
  display: block;
  margin: 0 auto;
  width: 320px;
  height: auto;
}

.slider__range-controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__caption {
  display: block;
  padding: 0;

  .subtitle-uppercase();

  background-color: @bg-grey;
  border: none;

  &--before {
    padding-left: 5px;
  }

  &--after {
    text-align: right;
  }
}

.slider__scale {
  position: relative;

  width: 84px;
  height: 14px;
  margin-left: 18px;
  margin-right: 18px;

  background-color: @bg-white;
  border: @border-grey;
  border-radius: 6px;
}

.slider__control {
  position: absolute;
  top: 3px;
  left: 5px;

  width: 35px;
  height: 6px;

  background-color: @bg-green;
  border: none;
  border-radius: 3px;
}

@media (min-width: @tablet-width) {
  .slider {
    position: relative;

    background-color: @bg-white;
    border-top: @border-grey;

    overflow: hidden;
  }

  .slider__wrapper {
    width: auto;
    padding-top: 24px;
    padding-bottom: 0;
  }

  .slider__living-example {
    padding-left: 3.9%;
    padding-right: 3.9%;
    margin-bottom: 232px;
  }

  .slider__title {
    padding: 43px 3.9% 0;
    margin-bottom: 40px;

    .text-size(60px; 1);
  }

  .slider__text {
    width: 97%;
    margin-bottom: 54px;

    .text-size(16px; 1.5);
  }

  .slider__stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .slider__list {
    margin-right: 42px;
  }

  .slider__value {
    width: 162px;
    padding-bottom: 20px;

    .text-size(30px; 1.23);
  }

  .slider__field {
    width: 145px;
    margin-top: -8px;
    padding-left: 7px;
    padding-right: 8px;

    font-size: 14px;

    background-color: @bg-white;

    &--weight {
      width: 115px;
    }
  }

  .slider__expenses span {
    display: block;
    width: 176px;
    margin-top: 7px;

    .text-size(20px; 1);
    text-align: right;

    &:first-child {
      margin-bottom: 9px;
    }
  }

  .slider__before-after {
    width: 690px;
    margin: 0 auto;
    padding-bottom: 66px;
    padding-left: 10px;
  }

  .slider__before-after-wrapper {
    background: linear-gradient(to right, #f2f2f2 50%, #eaeaea 50%);
  }

  .slider__before-after-images {
    height: 350px;
    width: auto;
    margin-bottom: 8px;
  }

  .slider__before-image {
    position: absolute;
    left: 0;
    top: -49%;

    width: auto;
    height: 517px;

    clip: rect(auto 333px auto auto);
  }

  .slider__after-image {
    position: absolute;
    z-index: 1;

    right: 0;
    top: -49%;

    width: auto;
    height: 517px;

    clip: rect(auto auto auto 333px);
  }

  .slider__scale {
    z-index: 10;

    width: 428px;
    height: 6px;
    margin-left: 23px;
    margin-right: 21px;

    border-radius: 2.5px;
    background-color: #dcdcdc;
  }

  .slider__control {
    position: relative;
    top: -15px;
    left: 46%;

    width: 34px;
    height: 34px;

    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    border: 1px solid @border-grey;
    border-radius: 50%;
    background-color: @bg-white;

    &:hover {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    }

    &:active {
      border: 2px solid @bg-green;
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
    }

    &::after {
      content: "";

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      width: 8px;
      height: 8px;

      border-radius: 50%;
      background-color: @bg-green;
    }
  }

  .slider__caption {
    z-index: 10;

    padding-bottom: 7px;
    padding-top: 7px;

    .text-size(20px; 1);

    border-bottom: 1px dotted rgba(17, 17, 17, 0.23);

    &--after {
      background: #eaeaea;
    }

    &--before {
      padding-left: 0;
    }

    &:hover {
      border-bottom: 1px solid rgba(17, 17, 17, 0.4);
    }

    &:active {
      padding-bottom: 8px;

      border-bottom: none;
    }
  }

  .slider__range-controls {
    padding-right: 10px;
  }
}

@media (min-width: @desktop-width) {
  .slider {
    border: none;
  }

  .slider__wrapper {
    position: relative;

    display: flex;
    justify-content: flex-start;
    width: 1220px;
    margin: 0 auto;
    padding: 0;
  }

  .slider__gradient {
    width: 100%;

    padding-top: 75px;

    background: linear-gradient(to right, @bg-grey 64.1%, transparent 8.4%, #eaeaea 27.5%);
  }

  .slider__before-after-wrapper {
    width: 100%;
    background: inherit;
  }

  .slider__before-after {
    width: 100%;
    padding-left: 130px;
    padding-bottom: 68px;
    margin: 0;

    background: linear-gradient(to right, @bg-grey 60.5%, #eaeaea 49.5%);
  }

  .slider__title {
    max-width: 1220px;
    margin: 0 auto;
    margin-bottom: 72px;
    padding-left: 0;
    padding-top: 47px;
  }

  .slider__living-example {
    z-index: 1;

    width: 52%;
    margin-bottom: 0;
    padding: 0;
  }

  .slider__text {
    width: 435px;
    margin-bottom: 70px;
  }

  .slider__stats {
    flex-direction: column;
  }

  .slider__table {
    width: 100%;
    justify-content: flex-start;
    margin-bottom: 46px;
  }

  .slider__item {
    width: auto;
  }

  .slider__field {
    background-color: @bg-grey;
  }

  .slider__expenses span {
    display: block;

    text-align: left;

    &:last-child {
      width: 42%;
    }
  }

  .slider__expenses {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-right: 23px;
  }

  .slider__before-after-images {
    width: 700px;
    height: 280px;
  }

  .slider__before-image {
    left: 0;
    top: -91.5%;

    width: 700px;

    clip: rect(auto 370px auto auto);
  }

  .slider__after-image {
    right: 0;
    top: -91.5%;
    width: 700px;

    clip: rect(auto auto auto 370px);
  }

  .slider__range-controls {
    padding-left: 45px;
    padding-right: 0;
  }
}
